#wrapper{
    #content{
        padding: 10px;

        #breadcrumb{
            padding: 10px;
            li{
                display: inline-block;
                margin-left: 10px;

                a{
                    text-decoration: none;
                    cursor: default;
                    color: black;
                }
            }
        }

        #user_info{
            padding: 10px;
            width: 30%;

            .user_info{
                >div{
                    ul{
                        margin: 0px 10px 10px 20px;

                        li{
                            margin: 5px 5px 0px 5px;;

                            span{
                                display: inline-block;
                                margin-left: 10px
                            }
                        }
                    }
                }
                .button_click{
                    width: 100%;
                    text-align: right;
                    border-top: 1px solid black;
                    padding: 10px 0px;

                    button{
                        height: 30px;
                        width: 150px;
                    }
                }
            }
        }
    }
}
