* {
  font-family: "Dosis";
  padding: 0;
  margin: 0 auto;
}
#wrapper {
  text-align: center;
  padding: 120px;
}
#wrapper #users {
  height: 390px;
  width: 500px;
}
#wrapper #users .users {
  padding: 30px;
  width: 500px;
  border: 1px solid #ebe9eb;
  border-radius: 10px;
  background: white;
  text-align: left;
  height: 300px;
  position: absolute;
}
#wrapper #users .users.page_1 {
  top: 110px;
  width: 480px;
  margin-left: 9px;
}
#wrapper #users .users.page_2 {
  top: 100px;
  width: 460px;
  margin-left: 19px;
}
#wrapper #users .users.page_3 {
  top: 90px;
  width: 440px;
  margin-left: 29px;
}
#wrapper #users .users .user_info {
  height: 105px;
}
#wrapper #users .users .user_info img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 1px solid #9a999a;
}
#wrapper #users .users .user_info .user_name {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 12px;
  width: 333px;
}
#wrapper #users .users .user_info .user_name p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: #5e5d5f;
}
#wrapper #users .users .user_info .user_name p:nth-child(2),
#wrapper #users .users .user_info .user_name p:nth-child(3) {
  color: #b2b1b2;
  display: block;
  width: 390px;
}
#wrapper #users .users .user_description {
  height: 197px;
  overflow: hidden;
  margin: 0;
  margin-left: 105px;
  color: #9a999a;
  line-height: 22px;
}
#wrapper #filter {
  width: 625px;
  height: 50px;
  font-weight: bold;
}
#wrapper #filter a {
  text-decoration: none;
  color: #d98486;
}
#wrapper #filter span {
  color: #d98486;
  display: inline-block;
  margin: 0 10px;
}
#wrapper #filter div {
  display: inline-block;
}
#wrapper #filter div:nth-child(1) {
  width: 20%;
  text-align: left;
}
#wrapper #filter div:nth-child(2) {
  width: 60%;
  float: right;
  text-align: right;
}
.hidden {
  display: none;
}
